body {
  font-family:serif;
}
.father {
  display:flex;
  height: 100vh;
  flex-flow: row nowrap;
  justify-content: center;
  flex-direction: column;
}

.box {
  height: 400px;
  color:white;
  font-size:35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  background-color: tomato;
  flex: 1 0 300px;
}


.box:last-child {
  background-color: teal;
  flex-grow: 1;
}
