.father {
  display: grid;
  grid-template-columns:[first-clmn] 100px [sec-clmn] 200px [third-clmn] 50px [fourth-clmn];
  grid-template-rows: 200px 100px;
  row-gap: 10px;
  column-gap: 20px;
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  align-items: center;
  justify-content: center;
}

.child:first-child {
  grid-row-start: 1;
  grid-row-end: -1;
}

.child:last-child {
  background-color: aqua;
  grid-column-start: 2;
  grid-column-end: -1;
}