@import "./reset.scss";

$white: #dee1d6;
$green: #5ebc44;

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  background-color: $green;
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 30fr) 70fr;
  .top {
    display: grid;
    padding: 40px;
    row-gap: 30px;
    grid-template-columns: 75fr 25fr;
    .top__box {
      display: flex;
      gap: 5px;
      flex-direction: column;
      font-weight: 600;
      font-size: 12px;
      &:last-child {
        color: white;
        font-size: 15px;
        align-self: center;
      }
      h1 {
        font-size: 65px;
      }
    }
  }
  .bottom {
    overflow: hidden;
    .circles {
      transform: scale(1.1);
      background-color: black;
      display: grid;
      gap: 10px;
      height: 100%;
      grid-template: repeat(11, 1fr) / repeat(11, 1fr);
      .circle {
        background-color: $green;
        border-radius: 50%;
        @for $i from 1 through 9 {
          @for $j from (11 * $i)+2 through (11 * $i) +1 + $i {
            &:nth-child(#{$j}) {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
